body {
    background: rgb(255, 112, 166);
    background: linear-gradient(180deg, rgba(255, 112, 166, 1) 0%, rgba(255, 112, 166, 1) 35%, rgba(255, 177, 197, 1) 100%);
    height: 100vh;
    padding: 0;
    margin: 0;
}

.fondoCirculos {
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-image: url('../images/Circulos@2x.png');
    background-size: contain;   
    background-position: right;
}

.fondoCirculos nav {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
    box-sizing: border-box;
    /*forma en la que se distribuyen los elementos dentro del nav*/
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*sombra*/
    -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
}

.fondoCirculos nav .containerLogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fondoCirculos nav .containerLogo .logo {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.fondoCirculos nav .containerLogo p {
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.fondoCirculos nav .links{
    display: flex;
    gap:10px;
}
.fondoCirculos nav .links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background: #E84582;
    padding: 10px 15px;
    border-radius: 9999px;
    width: 150px;
    text-align: center;
}
.fondoCirculos nav .links a:hover{
    background: #a82c59;
    cursor: pointer;
}

section.content {
    flex: 1 1 0%;
    overflow: auto;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    gap: 5px;
}
section.content section.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0%;
    gap:10px;
    padding: 10px;
}
section.content section.profile header{
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px ;
    width: 80%;
    margin: 0px;
    padding: 0px;
    height: 200px;

    /*sombra*/
    -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);

    display: flex;
    gap:15px;
}
section.content section.profile header .picture{
    padding-left: 50px;
    padding-top: 20px;
}
section.content section.profile header .picture .circle{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}
section.content section.profile header .data{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
section.content section.profile header .data p{
    margin: 0px;
}
section.content section.profile header .data p.name{
    font-size: 22px;
    color: #796D71;
    font-weight: bold;
    font-family: sans-serif;
}
section.content section.profile header .data p.cantidad{
    font-size: 20px;
    color: #a82c59;
    font-weight: bold;
}
section.content section.profile header .data p.rol{
    font-size: 14px;
    color: #a82c59;
    font-weight: bold;
}
section.content section.profile header .botones{
    display: flex;
    align-items: flex-end;
    gap:15px;
    padding: 10px 20px;
}
section.content section.profile header .botones a{
    color:white;
    font-weight: bold;
    text-decoration: none;
    background: rgb(245,158,191);
    background: linear-gradient(180deg, rgba(245,158,191,1) 0%, rgba(240,131,171,1) 100%);
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid #a82c59;
}
section.content section.profile section.galery{
    width: 80%;
    flex: 1 1 0%;
    margin: 0px;
    padding: 25px 0px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    overflow: auto;
}
section.content section.profile section.galery .card{
    height: 150px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;


    /*sombra*/
    -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
}
section.content section.form {
    flex: 1 1 0%;
}
section.content section.form {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.content section.form form{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 10px;
}
section.content section.form form input{
    padding: 10px;
    border: 0px;
    border-radius: 10px;

    /*sombra*/
    -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
}
section.content section.form form button{
    height: 40px;
    border: none;
    color: white;
    background-color: #E84582;
    font-weight: bold;
    border-radius: 20px;
}
section.content section.form form button:hover{
    cursor:pointer;
    background-color: #a82c59;
    /*sombra*/
    -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    transform: scale(1.1);
}
section.content section.form form p{
    color:#E84582;
    font-weight: bold;
}
section.content section.form p.title{
    background: #E84582;
    padding: 10px 20px;
    font-weight: bold;
    color:white;
    border-radius: 9999px;
}
section.content section.foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.content section.foto .size{
    width: 80%;
}
section.content section.foto .size .molde{
    position: relative;
    width: 100%;
    padding-top: 100%;
}
section.content section.foto .size .molde .cont{
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    overflow: hidden;
    /*sombra*/
    -webkit-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);
    box-shadow: 10px 10px 16px -10px rgba(0, 0, 0, 0.73);

}

section.content section.foto .size .molde .cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}